body {
    background-color: #ccc;
    color: #232323;
    padding-top: 70px;
}

.link-decor-none a, .link-decor-none a:hover, .link-decor-none a:visited {
    color: #444;
}
.content {
    padding: 60px 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
main {
    margin: 10px;
    padding: 10px;
}
nav .content {
    padding: 0px;
}
login-form {
    margin: auto;
}
header, footer, nav, section { display: block; }

textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}



/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}



/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: block; }

.validation-summary-valid { 
    display: none;
}


/*----- Content of Tabs -----*/
.tab-links {
    padding:5px;
    -ms-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    -ms-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
    margin-bottom: 5px;
}
.tab-links li{ display: block;}
.tabs ul li {
    width: 24%;
    padding: 5px 5px;
}
/* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

.tab-content{
    padding:10px;
    -ms-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    -ms-box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}
 
.tab.active {
    display:block;
}
.card{
    overflow: hidden;
}
.card-cover{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
.card-description{
    font: normal 12px arial;
}
.card-progress{
    display: inline-block;
    width:100%;
    white-space: nowrap;
    margin:0;
    padding:0;
}