<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://event-it.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>event-it.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>event-it</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$event-it</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Eventor_Project.Models.CurrentContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tzn5ccyprf.database.windows.net,1433;Initial Catalog=master;User ID=Eventor;Password=GoodPassword1;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Eventor_Project.Models.CurrentContext, Eventor_Project" MigrationConfiguration="Eventor_Project.Migrations.Configuration, Eventor_Project" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="event-it_db" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:tzn5ccyprf.database.windows.net,1433;Initial Catalog=eventitA25q4r9sg;Persist Security Info=True;User ID=Eventor@tzn5ccyprf;Password=GoodPassword1;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=oz7hjyvluv.database.windows.net;Initial Catalog=event-it_db;Integrated Security=False;User ID=Eventor;Password=GoodPassword1;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\event-it_db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=oz7hjyvluv.database.windows.net;Initial Catalog=event-it_db;Integrated Security=False;User ID=Eventor;Password=GoodPassword1;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CurrentContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)event-it_db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tzn5ccyprf.database.windows.net,1433;Initial Catalog=eventitA25q4r9sg;Persist Security Info=True;User ID=Eventor@tzn5ccyprf;Password=GoodPassword1;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Eventor_Project.Models.CurrentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:tzn5ccyprf.database.windows.net,1433;Initial Catalog=master;User ID=Eventor;Password=GoodPassword1;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Eventor_Project.Models.CurrentContext" />
  </ItemGroup>
</Project>