@model IEnumerable<Eventor_Project.Models.ViewModels.ProjectCardViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header"><h1>Проекты</h1></div>
</div>
<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 cards">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12 card">
                    <img src="~/Images/avatar-default.jpg" alt="cover" class="card-cover">
                    <div class="card-title">
                        @Html.ActionLink(item.GetTitle, "Project", new { projectId = item.ProjectId })
                    </div>
                    <div class="card-body">
                        <p class="card-description">@item.ShortDescription</p>
                            <div class="row">
                                <i class="glyphicon glyphicon-user col-md-2 col-sm-2 col-xs-2 col-lg-2"></i>
                                <div class="progress card-progress col-md-10 col-sm-10 col-xs-10 xol-lg-10">
                                    <div class="progress-bar progress-bar-success" style="width:@item.OrganisersCurrentPercents%;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <i class="glyphicon glyphicon-briefcase col-md-2 col-sm-2 col-xs-2 col-lg-2"></i>
                                <div class="progress card-progress col-md-10 col-sm-10 col-xs-10 xol-lg-10">
                                    <div class="progress-bar progress-bar-info" style="width:@item.InventoryNeedfulPercents%;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <i class="glyphicon glyphicon-globe col-md-2 col-sm-2 col-xs-2 col-lg-2"></i>
                                <div class="progress card-progress col-md-10 col-sm-10 col-xs-10 xol-lg-10">
                                    <div class="progress-bar progress-bar-warning" style="width:@item.CustomersCurrentPercents%;">
                                    </div>
                                </div>
                            </div>
                        <div class="row card-date">
                            <i class="glyphicon glyphicon-calendar col-md-2"></i>
                            <span class="col-md-10 card-date-text">@item.GetEventDate</span>
                        </div>
                        <div class="row card-place">
                            <i class="glyphicon glyphicon-map-marker col-md-2"></i>
                            <span class="col-md-10 card-place-text">@item.Place</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        @*TODO*@
                        <a href="#" class="btn btn-primary card-button">Пойду</a>
                        <a href="#" class="btn btn-link card-button">Помогу</a>
                    </div>
                </div>
            }
    </div>
</div>
