@model IEnumerable<Eventor_Project.Models.ViewModels.ProjectCardViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header"><h1>Проекты</h1></div>
</div>
<div class="container">
    <div class="col-md-9">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12 panel panel-default card">
                    <img src="" alt="cover" class="card-cover">
                    <div class="panel-heading card-title">
                        @Html.ActionLink(item.GetTitle, "Edit", new { projectId = item.ProjectId })
                    </div>
                    <div class="panel-body card-body">
                        <p class="card-description">@item.ShortDescription</p>
                        @if (item.OrganisersRequiredCount > 0)
                        {
                            <div class="progress card-progress">
                                <div class="progress-bar progress-bar-success" style="width:@item.OrganisersCurrentPercents%;">
                                    <i class="glyphicon glyphicon-user"></i>
                                </div>
                            </div>
                        }
                        @if (item.InventoryRequiredCount > 0)
                        {
                            <div class="progress card-progress">
                                <div class="progress-bar progress-bar-info" style="width:@item.InventoryCurrentPercents%;">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                </div>
                            </div>
                        }
                        @if (item.CustomersRequiredCount > 0)
                        {
                            <div class="progress card-progress">
                                <div class="progress-bar progress-bar-warning" style="width:@item.CustomersCurrentPercents%;">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </div>
                            </div>
                        }
                        @if (item.EventDate != null)
                        {
                            <p class="card-date"><i class="glyphicon glyphicon-calendar"></i> @item.EventDate.Value.ToShortDateString()</p>
                        }
                        @if (item.Place != null)
                        {
                            <p class="card-place"><i class="glyphicon glyphicon-map-marker"></i> @item.Place</p>
                        }
                    </div>
                    <div class="panel-footer">
                        @*TODO*@
                        <a href="#" class="btn btn-primary card-button">Пойду</a>
                        <a href="#" class="btn btn-link card-button">Помогу</a>
                    </div>
                </div>
            }
    </div>
</div>
