
@model IEnumerable<Eventor_Project.Models.ProjectModel.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-content">
    <h2>Index</h2>

    @foreach (var item in Model)
    {
        <div class="project-card col-md-3">
            @Html.ActionLink(@item.Title??"Название", "Edit", "Projects", new{project_id=@item.ProjectId},null)
            <p>
                @item.ShortDescription
            </p>
            <p>
                @item.AuthorId
            </p>
        </div>
    }
</div>