body {
    background-color: #ccc;
    color: #232323;
    padding-top: 70px;
}

.link-decor-none a, .link-decor-none a:hover, .link-decor-none a:visited {
    color: #444;
}
main {
    margin: 10px;
    padding: 10px;
}
nav .content {
    padding: 0px;
}
login-form {
    margin: auto;
}
header, footer, nav, section { display: block; }

textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}



/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}



/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #f00; }

.field-validation-valid { display: block; }

.validation-summary-valid { 
    display: none;
}



.panel{
	padding: 0;
	box-sizing: border-box;
}
.card-cover{
	width:100%;
}
.card-title,
.card-body{
	padding: 5px 10px;
}
.card-date,
.card-place,
.card-cover{
	padding: 0;
	margin: 3px;
}
.card-progress{
	padding: 0;
}
.card-button{
	width: 100%;
}

.container{
    background: #fff;
    padding-top:5px;
}
